<!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">Work & Project Timeline</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h4>Brave
                                    <br>New
                                    <br>World!</h4>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-Now</h4>
                                    <h4 class="subheading">Nike</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">React-based apps & a platform to serve up microsites</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2017</h4>
                                    <h4 class="subheading">Start ups & Contracts</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Distinct Media, Booty Luv, Etc.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2015</h4>
                                    <h4 class="subheading">PETA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Not just blood splatter</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>